{
    "rules": {},
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
      "jsx": true
    }
}
