body {
    font: 400 1em Raleway, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
}

.container {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 7px 0;
}

a {
    text-decoration: none;
    color: #00bcd4;
}

a:visited {
  color: #00bcdf;
}

.userCard {
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  clear: both;
  opacity: 1;
}

.loginContainer {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

.userCard:hover .imageCard {
  opacity: 0.5;
}

.imageCard {
  transition-duration: 0.5s;
  border-radius: 50%;
  max-height: 96px;
  box-shadow: 0 0 3px #eee;
}

.buttonContainer {
  height: 60px;
  display: block;
  overflow: hidden;
}

.largeText {
  font-size: 2em;
}

.largerText {
  font-size: 3.5em;
}
.center {
  text-align: center;
}

.inlineBlock {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
