body {
    font: 400 1em Raleway, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
}

.container {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 5px 0;
    color: #555;
}

a {
    text-decoration: none;
}

.userCard {
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  clear: both;
  opacity: 1;
}

.userCard:hover .imageCard {
  opacity: 0.5;
}

.imageCard {
  transition-duration: 0.5s;
  border-radius: 50%;
  max-height: 96px;
  background-color: #efefef;
  padding: 3px;
}

.buttonContainer {
  height: 60px;
  display: block;
  overflow: hidden;
}

.inlineBlock {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
